.home-header {
  margin-top: 37px;
  height: 95px;
  display: flex;
  justify-content: center;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 120px);
    column-gap: 16px;

  }

}