.home-banner {
  margin: 0 auto;
  padding-top: 155px;
  box-sizing: border-box;
  height: 830px;
  max-width: 1440px;
  position: relative;

  &__container {
    height: 350px;
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

