.home-header-user {
  display: flex;
  gap: 10px;

  & a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: $color-gray1;
    padding: 9px 10px;
    border: 0.75px solid transparent;

    &:hover {
      cursor: pointer;
      border: 0.75px solid $color-orange;
    }
  }
}