.home-simple-steps {
  height: 759px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    width: 100%;
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 172px;
    background-color: $color-gray4;
  }

  & .btn {
    margin-top: 35px;
  }
}