.home-banner {
  margin: 0 auto;

  box-sizing: border-box;
  height: 830px;
  position: relative;
  display: flex;
  justify-content: center;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 120px);
    column-gap: 16px;
  }

  &__content {
    margin-top: 210px;
    height: 350px;
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-column: 7 / 12;

    & .title {
      margin-top: 0;
    }
  }

  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

