.login {
  margin: 0 auto;
  height: calc(100vh - 132px);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__btn {
    text-decoration: none;
    color: $color-gray2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 300;
    margin-top: 40px;
    background-color: transparent;
    border: 0.75px solid $color-gray2;

    &:hover {
      cursor: pointer;
    }
  }

}
