@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=Open+Sans:wght@300;400;600&display=swap');
@import "normalize";

@import "./settings/fonts";
@import "./settings/colors";

@import "./_homeHeader.scss";
@import "./_homeHeaderUser.scss";
@import "./_homeHeaderNav.scss";
@import "./_homeBanner.scss";
@import "./_homeThreeColumns.scss";
@import "./_homeThreeColumnsArticle.scss";
@import "./_homeSimpleSteps.scss";

body {
  font-family: $font-base;
}

.container {
  margin: 0 auto;
  max-width: 1900px;

  &__bg-image {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position-x: -481px;
  }
}

