@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=Open+Sans:wght@300;400;600&display=swap');
@import "normalize";

@import "./settings/fonts";
@import "./settings/colors";

@import "./_homeHeader.scss";
@import "./_homeHeaderUser.scss";
@import "./_homeHeaderNav.scss";
@import "./_homeBanner.scss";
@import "./_homeThreeColumns.scss";
@import "./_homeThreeColumnsArticle.scss";
@import "./_homeSimpleSteps.scss";
@import "./_homeSimpleStepsArticle.scss";
@import "./_homeAboutUs.scss";
@import "./_homeWhoWeHelp.scss";

body {
  font-family: $font-base;
}

.container {
  margin: 0 auto;
  max-width: 1900px;

  &__bg-image {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position-x: -481px;
  }
}

.btn {
  width: 310px;
  height: 120px;
  text-decoration: none;
  text-align: center;
  font-size: 36px;
  line-height: 45px;
  font-weight: 300;
  color: $color-gray2;
  border: 0.75px solid $color-gray2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 55px;
  margin-bottom: 90px;
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: -0.76px;
  line-height: 55px;
  color: $color-gray2;
  position: relative;

  &::after {
    content: '';
    background-image: url("../assets/Decoration.svg");
    width: 253px;
    height: 33px;
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

